.active-page-nav
{
  background-color: #0d6efd;
}
.nav-item-hover:hover {
  color: white;
  background-color: #6c757d;
}

.item-card-hover{
    transition: transform 0.3s ease;
}
.item-card-hover:hover{
  transform: scale(1.1);

}

.item-card-block-hover
{
  transition: 0.5s ease;
}
.item-card-block-hover:hover{
  transform: scale(1.05);

}

.hero-section {
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(9px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero-content {
  max-width: 600px;
  height: 20rem;
  position: relative;
  z-index: 2;
  text-align: center;
}
