body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
}

footer {
  background-color: #ccc;
  flex-shrink: 0;
}

section {
  padding-bottom: 3 rem;
  padding-top: 3rem;
  margin: 0 auto;
  scroll-margin-top: 6rem; /* for better anchor link scroll */
}


/*Prevents right click glitching bug*/
*:focus {
  outline: none;
}