body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
}

.nav-item-hover:hover {
  background-color: #0d6efd;
  color: white;
}

footer {
  background-color: #ccc;
  flex-shrink: 0;
}

section {
  padding-top: 5rem;
  padding-bottom: 8rem;
}
